@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
@model MVCCRUD.Models.Food

<style>
    body {
        background-color:gray;
        background-repeat: no-repeat;
        background-size: cover;
           
       
    }
</style>

<div class="jumbotron" align="center">
    <h1><b>Food Store Management System</b></h1>

</div>
    <div class="row" align="center">
    <div class="col-md-4">
        <h2>Show Food List</h2>

        <p><a class="btn btn-default" href="/Food/ShowRecords">Show Order List &raquo;</a></p>
    </div>
        <div class="col-md-4" align="center">
            <h2>Add Food items</h2>

            <p><a class="btn btn-default" href="/Food/AddFood">Add Food Order &raquo;</a></p>
        </div>
        <div class="col-md-4" align="center">
            <h2>Edit Food Record</h2>

            <p><a class="btn btn-default" href="/Food/ShowRecords">Edit Food order &raquo;</a></p>
        </div>
</div>